OS="MAC/WINDOWS"
COOKIE="isinya"
USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36"
URL_MK="https://akademik.itb.ac.id/app/R/mahasiswa:18219xxx+2021-2/registrasI/mk/100212/kelas/42637#42637"
KELAS=1